@{
    ViewBag.Title = "About me";
}
<h2>@ViewBag.Title.</h2>
<p>I am looking for a challenging position that allows me to develop my skills on a technical and personal level and share them with my company and my colleagues.</p>
