@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>
@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}

@using (Html.BeginForm("Contact","Home"))
{
    <div class="row">
        <div class="col-sm-12">
            <label class="control-label">Your message to Dano. Please include a mail address, a phone number or another way, how Dano can contact you back</label>
            <textarea class="form-control" name="message" rows="6"></textarea>
        </div>
        <div class="col-sm-12">
            <input class="btn btn-success top10 bottom10" type="submit" value="Send to Dano" />
        </div>
    </div>
}
