@{
    ViewBag.Title = "My Skills";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-sm-12">
        <p>On this page, you'll find some of the skills I had the chance to learn in the last years.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Skills</h3>
        <br />
    </div>
</div>
<div class="row">
    @foreach (Skill skill in ViewBag.SkillList)
    {
        Html.RenderPartial("SkillElement", skill);
    }
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Projects</h3>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row vertical-align wow fadeInLeft">
            <img class="rotate pull-left project-image" src="~/img/icon/virtualreality.svg" alt="Chairman icon">
            <h4 class="pull-left project-title">Welcome to UBS | Virtual reality spot</h4>
        </div>
        <p class="text-left">After UBS decided to become a main sponsor of the ICT Skills 2015, I decided to create a virtual reality experience to attract as many young persons as possible to the UBS stall. The reactions were unanimously positive and I had the chance to show the experience in numerous places, such as the UBS developer community, the MINT-IT week, several management meetings and the UBS TechExpo.</p>
    </div>
    <div class="col-sm-12">
        <div class="row vertical-align wow fadeInLeft">
            <img class="rotate pull-left project-image" src="~/img/icon/chairman.svg" alt="Chairman icon">
            <h4 class="pull-left project-title">eLaufzettel | Scheduling tool for the chairman</h4>
        </div>
        <p class="text-left">I had the amazing opportunity to write an application that helps to manage the events, meeting requests and projects of the UBS Chairman Axel Weber. The application is a distributed client application that works without an application server. Thanks to its architecture, the application generates no maintenance costs and can be easily expanded with new features. The application is in everyday use and increases the performance of the team drastically.</p>
    </div>
    <div class="col-sm-12">
        <div class="row vertical-align wow fadeInLeft">
            <img class="rotate pull-left project-image" src="~/img/icon/computer-desk.svg" alt="Chairman icon">
            <h4 class="pull-left project-title">Workplace Overview | Workplace management tool for UBS offices</h4>
        </div>
        <p class="text-left">Due to the growth of our team, we didn't have enough workplaces for every colleague. To manage this situation, I wrote the application Workplace Overview which gives everyone the chance to register for a workplace and to find out, if they still have the chance to catch a workplace or if they better should work from home. Again, the application was a huge success and is now used in many teams across UBS IT.</p>
    </div>
    <div class="col-sm-12">
        <div class="row vertical-align wow fadeInLeft">
            <img class="rotate pull-left project-image" src="~/img/icon/collaboration.svg" alt="Chairman icon">
            <h4 class="pull-left project-title">PPE | A new workplace portal for UBS apprentices</h4>
        </div>
        <p class="text-left">The main goal of the project PPE (short for Project Place Registration in German) was, to give all UBS IT apprentices a chance to find a project that fits to their idea of a good place to work. The project was a huge success and the application is still in use. My role in the project was to lead the project and to help developing the application.</p>
    </div>
</div>
<div class="row tworow">

</div>