@{
    ViewBag.Title = "My Skills";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-sm-12">
        <p>On this page, you'll find some of the skills I had the chance to learn in the last years.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Technical skills</h3>
        <br/>
    </div>
</div>
<div class="row">
    @foreach (Skill skill in ViewBag.SkillList)
    {
        Html.RenderPartial("SkillElement", skill);
    }
</div>
<div class="row tworow">

</div>