<div class="col-md-6 col-md-offset-3 text-center wrap_title">
    <h2>Everything</h2>
    <p class="lead" style="margin-top:0">...you need to know before hiring me!</p>

</div>

<div class="row">

    <a href="@Html.LocalPath("About","Home")">
        <div class="col-sm-4 wow fadeInDown text-center">
            <img class="rotate" src="~/img/icon/boy.svg" height="100" width="100" alt="Icon with man">
            <h3>Who am I?</h3>
            <p class="lead">A short introduction about me, my life and the things I love. </p>
        </div><!-- /.col-lg-4 -->
    </a>

    <a href="@Html.LocalPath("
    <div class="col-sm-4 wow fadeInDown text-center">
        <img class="rotate" src="~/img/icon/mortarboard.svg" height="100" width="100" alt="Mortarboard icon">
        <h3>My skills</h3>
        <p class="lead">Everything I've learned, the things I'm currently learing and the stuff I plan to learn </p>
        <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
    </div><!-- /.col-lg-4 -->

    <div class="col-sm-4 wow fadeInDown text-center">
        <img class="rotate" src="~/img/icon/medal.svg" alt="Medal icon">
        <h3>Certificates &amp; prices</h3>
        <p class="lead">During my time at my last company, I had the chance to take part in some contests  </p>
        <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
    </div><!-- /.col-lg-4 -->

</div><!-- /.row -->

<div class="row tworow">
    <div class="col-md-12 text-center">
        <a href="#/Section/ContactMe" class="btn btn-lg btn-embossed btn-primary">
            Show contact details
        </a>
    </div>
</div><!-- /.row -->